
    <div id="GetWH" >
        <div style="width:100%;height:100%;background:url(../../images/Welcome1.png) #0092d5 no-repeat 100% 70%;margin-left:-20px;margin-top:-21px;background-size:100%;">

        </div>
   </div>
<script>
var Width1 = document.body.clientWidth;
var Height1 = document.body.clientHeight;
var Width2 =  Width1-169;

var Height2 = Height1-44;


var Height2 = Height1-44;

$("#GetWH").css("width",Width2+"px");
$("#GetWH").css("height",Height2+"px");
</script>



