USE [angelmvc]
GO
/****** Object:  Table [dbo].[t_fileinfo]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[t_fileinfo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[DownLoadLink] [nvarchar](200) NULL,
	[Remak] [nvarchar](max) NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
	[ModifyDate] [datetime2](7) NULL,
	[ModifyUserId] [int] NULL,
	[ModifyUserName] [nvarchar](50) NULL,
 CONSTRAINT [PK__t_filein__3213E83F2A4B4B5E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录代码 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_fileinfo', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_fileinfo', @level2type=N'COLUMN',@level2name=N'FileName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'下载链接' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_fileinfo', @level2type=N'COLUMN',@level2name=N'DownLoadLink'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N't_fileinfo', @level2type=N'COLUMN',@level2name=N'Remak'
GO
SET IDENTITY_INSERT [dbo].[t_fileinfo] ON
INSERT [dbo].[t_fileinfo] ([id], [FileName], [DownLoadLink], [Remak], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (102, N'指标上报时间_指标负责人_联系电话.xlsx', N'UploadFiles/admin', NULL, CAST(0x0780F0C05CBC803D0B AS DateTime2), 1, N'admin', NULL, NULL, NULL)
INSERT [dbo].[t_fileinfo] ([id], [FileName], [DownLoadLink], [Remak], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (103, N'联系电话.xlsx', N'UploadFiles/admin', NULL, CAST(0x0780F0C05CBC803D0B AS DateTime2), 1, N'admin', NULL, NULL, NULL)
INSERT [dbo].[t_fileinfo] ([id], [FileName], [DownLoadLink], [Remak], [CreateDate], [CreateUserId], [CreateUserName], [ModifyDate], [ModifyUserId], [ModifyUserName]) VALUES (104, N'指标负责人_联系电话.xlsx', N'UploadFiles/admin', NULL, CAST(0x0780F0C05CBC803D0B AS DateTime2), 1, N'admin', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[t_fileinfo] OFF
/****** Object:  Table [dbo].[city]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CITYNAME] [nvarchar](10) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[city] ON
INSERT [dbo].[city] ([ID], [CITYNAME]) VALUES (1, N'安徽')
INSERT [dbo].[city] ([ID], [CITYNAME]) VALUES (2, N'北京')
INSERT [dbo].[city] ([ID], [CITYNAME]) VALUES (3, N'福建')
SET IDENTITY_INSERT [dbo].[city] OFF
/****** Object:  Table [dbo].[angel_sys_userrole]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_userrole](
	[userid] [int] NOT NULL,
	[roleid] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[angel_sys_userrole] ([userid], [roleid]) VALUES (1, 1)
INSERT [dbo].[angel_sys_userrole] ([userid], [roleid]) VALUES (5, 55)
INSERT [dbo].[angel_sys_userrole] ([userid], [roleid]) VALUES (6, 49)
/****** Object:  Table [dbo].[angel_sys_userofindicator]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_userofindicator](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[indicator_content] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F276EDEB3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_userofindicator', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_userofindicator] ON
INSERT [dbo].[angel_sys_userofindicator] ([id], [userid], [indicator_content]) VALUES (313, 5, N'')
INSERT [dbo].[angel_sys_userofindicator] ([id], [userid], [indicator_content]) VALUES (315, 6, N'')
INSERT [dbo].[angel_sys_userofindicator] ([id], [userid], [indicator_content]) VALUES (316, 7, N'')
SET IDENTITY_INSERT [dbo].[angel_sys_userofindicator] OFF
/****** Object:  Table [dbo].[angel_sys_userdepartment]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_userdepartment](
	[userid] [int] NOT NULL,
	[roomid] [int] NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[angel_sys_userdepartment] ([userid], [roomid]) VALUES (5, 99)
INSERT [dbo].[angel_sys_userdepartment] ([userid], [roomid]) VALUES (6, 103)
INSERT [dbo].[angel_sys_userdepartment] ([userid], [roomid]) VALUES (7, 99)
/****** Object:  Table [dbo].[angel_sys_user]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_user](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](128) NULL,
	[password] [nvarchar](128) NULL,
	[isenabled] [nchar](1) NULL,
	[logincount] [int] NULL,
	[lastlogintime] [datetime2](7) NOT NULL,
	[createuser] [nvarchar](128) NULL,
	[createtime] [datetime2](7) NOT NULL,
	[updateuser] [nvarchar](50) NULL,
	[updatetime] [datetime2](7) NOT NULL,
	[cityid] [nvarchar](20) NULL,
 CONSTRAINT [PK__angel_sy__3213E83F24927208] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_user', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_user] ON
INSERT [dbo].[angel_sys_user] ([id], [username], [password], [isenabled], [logincount], [lastlogintime], [createuser], [createtime], [updateuser], [updatetime], [cityid]) VALUES (1, N'admin', N'123456', N'Y', 2071, CAST(0x077095BF367C5D410B AS DateTime2), N'admin', CAST(0x07806CEFBC938F370B AS DateTime2), N'admin', CAST(0x078024525F817B3E0B AS DateTime2), N'')
INSERT [dbo].[angel_sys_user] ([id], [username], [password], [isenabled], [logincount], [lastlogintime], [createuser], [createtime], [updateuser], [updatetime], [cityid]) VALUES (5, N'angel', N'123456', N'Y', 468, CAST(0x0700F64268817B3E0B AS DateTime2), N'admin', CAST(0x078048CE8155A63B0B AS DateTime2), N'admin', CAST(0x0700F64268817B3E0B AS DateTime2), N'')
INSERT [dbo].[angel_sys_user] ([id], [username], [password], [isenabled], [logincount], [lastlogintime], [createuser], [createtime], [updateuser], [updatetime], [cityid]) VALUES (6, N'ttttt', N'123456', N'N', 1, CAST(0x0780593290817B3E0B AS DateTime2), N'admin', CAST(0x07006CF378817B3E0B AS DateTime2), N'admin', CAST(0x0780593290817B3E0B AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[angel_sys_user] OFF
/****** Object:  Table [dbo].[angel_sys_room]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_room](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roomname] [nvarchar](128) NOT NULL,
	[remark] [nvarchar](4000) NULL,
	[isenabled] [nvarchar](2) NOT NULL,
	[createuser] [nvarchar](128) NOT NULL,
	[createtime] [datetime2](7) NOT NULL,
	[updateuser] [nvarchar](128) NULL,
	[updatetime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F21B6055D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序列号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_room', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_room] ON
INSERT [dbo].[angel_sys_room] ([id], [roomname], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (99, N'网管中心', N'1', N'Y', N'admin', CAST(0x07804E6D127FEC3F0B AS DateTime2), N'admin', CAST(0x0700A982D9817A370B AS DateTime2))
INSERT [dbo].[angel_sys_room] ([id], [roomname], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (100, N'生产开发中心', N'2', N'Y', N'admin', CAST(0x07809AA80D7FEC3F0B AS DateTime2), N'admin', CAST(0x0700CCAE48877A370B AS DateTime2))
INSERT [dbo].[angel_sys_room] ([id], [roomname], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (101, N'研发部门', N'3', N'Y', N'admin', CAST(0x070004100D7FEC3F0B AS DateTime2), N'admin', CAST(0x0700BBCB55877A370B AS DateTime2))
SET IDENTITY_INSERT [dbo].[angel_sys_room] OFF
/****** Object:  Table [dbo].[angel_sys_role]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_role](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[rolename] [nvarchar](128) NOT NULL,
	[level] [int] NULL,
	[remark] [nvarchar](4000) NULL,
	[isenabled] [nvarchar](2) NOT NULL,
	[createuser] [nvarchar](128) NOT NULL,
	[createtime] [datetime2](7) NOT NULL,
	[updateuser] [nvarchar](128) NULL,
	[updatetime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F1ED998B2] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序列号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_role', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_role] ON
INSERT [dbo].[angel_sys_role] ([id], [rolename], [level], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (1, N'超级管理员', 9, N'管理系统所有的资源信息', N'Y', N'admin', CAST(0x07008BC21A791A3F0B AS DateTime2), N'admin', CAST(0x07008283EC5D37370B AS DateTime2))
INSERT [dbo].[angel_sys_role] ([id], [rolename], [level], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (49, N'公司新闻', 1, N'公司新闻', N'Y', N'admin', CAST(0x070025C70F90743E0B AS DateTime2), N'admin', CAST(0x0780274F1B6137370B AS DateTime2))
INSERT [dbo].[angel_sys_role] ([id], [rolename], [level], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (51, N'销售部', 1, N'销售部', N'Y', N'admin', CAST(0x07009B772090743E0B AS DateTime2), N'admin', CAST(0x078021237F5C8E370B AS DateTime2))
SET IDENTITY_INSERT [dbo].[angel_sys_role] OFF
/****** Object:  Table [dbo].[angel_sys_operationlog]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_operationlog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[username] [nvarchar](128) NOT NULL,
	[roleid] [int] NOT NULL,
	[rolename] [nvarchar](128) NOT NULL,
	[logposition] [nvarchar](128) NULL,
	[operationtype] [nvarchar](128) NOT NULL,
	[operationparam] [nvarchar](max) NULL,
	[createuser] [nvarchar](128) NOT NULL,
	[createdate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F1BFD2C07] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[angel_sys_operationlog] ON
INSERT [dbo].[angel_sys_operationlog] ([id], [userid], [username], [roleid], [rolename], [logposition], [operationtype], [operationparam], [createuser], [createdate]) VALUES (1, 1, N'admin', 1, N'超级管理员', N'系统管理-菜单管理', N'删除菜单信息编号为:(225)', N'{ "insert_log": [{ "logposition":"系统管理-菜单管理","operationtype": "删除菜单信息编号为:(225)"}]}', N'admin', CAST(0x070094014994EC3F0B AS DateTime2))
INSERT [dbo].[angel_sys_operationlog] ([id], [userid], [username], [roleid], [rolename], [logposition], [operationtype], [operationparam], [createuser], [createdate]) VALUES (2, 1, N'admin', 1, N'超级管理员', N'采集甄核-多维数据采集-数据填报', N'导入《日常费用报销单-新版.xlsx》数据文件成功。', N'{ "insert_log": [{ "logposition":"采集甄核-多维数据采集-数据填报","operationtype": "导入《日常费用报销单-新版.xlsx》数据文件成功。"}]}', N'admin', CAST(0x0780BFCA04A588400B AS DateTime2))
INSERT [dbo].[angel_sys_operationlog] ([id], [userid], [username], [roleid], [rolename], [logposition], [operationtype], [operationparam], [createuser], [createdate]) VALUES (3, 1, N'admin', 1, N'超级管理员', N'采集甄核-多维数据采集-数据填报', N'导入《日常费用报销单-新版.xlsx》数据文件成功。', N'{ "insert_log": [{ "logposition":"采集甄核-多维数据采集-数据填报","operationtype": "导入《日常费用报销单-新版.xlsx》数据文件成功。"}]}', N'admin', CAST(0x070026A349A688400B AS DateTime2))
SET IDENTITY_INSERT [dbo].[angel_sys_operationlog] OFF
/****** Object:  Table [dbo].[angel_sys_menusofroles]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_menusofroles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[roleid] [int] NOT NULL,
	[menuid] [int] NOT NULL,
	[isindex] [int] NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F1920BF5C] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'自动编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_menusofroles', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_menusofroles] ON
INSERT [dbo].[angel_sys_menusofroles] ([id], [roleid], [menuid], [isindex]) VALUES (6235, 59, 174, 0)
INSERT [dbo].[angel_sys_menusofroles] ([id], [roleid], [menuid], [isindex]) VALUES (6236, 59, 175, 0)
INSERT [dbo].[angel_sys_menusofroles] ([id], [roleid], [menuid], [isindex]) VALUES (6237, 59, 195, 0)
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[angel_sys_menusofroles] OFF
/****** Object:  Table [dbo].[angel_sys_menu]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[menuname] [nvarchar](128) NOT NULL,
	[parentid] [int] NOT NULL,
	[remark] [nvarchar](4000) NULL,
	[orderid] [int] NOT NULL,
	[menuicon] [nvarchar](128) NULL,
	[menuurl] [nvarchar](128) NULL,
	[isvisible] [nchar](1) NULL,
	[isenabled] [nchar](1) NULL,
	[createuser] [nvarchar](50) NOT NULL,
	[createtime] [datetime2](7) NOT NULL,
	[updateuser] [nvarchar](50) NULL,
	[updatetime] [datetime2](7) NOT NULL,
	[menucode] [nvarchar](18) NULL,
 CONSTRAINT [PK__angel_sy__3213E83F164452B1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'id自动编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_menu', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_menu] ON
INSERT [dbo].[angel_sys_menu] ([id], [menuname], [parentid], [remark], [orderid], [menuicon], [menuurl], [isvisible], [isenabled], [createuser], [createtime], [updateuser], [updatetime], [menucode]) VALUES (138, N'系统管理', 0, N'系统管理', 4, N'fa fa-gear', N'#', N'Y', N'Y', N'admin', CAST(0x0700155B8988C8400B AS DateTime2), N'admin', CAST(0x0700155B8988C8400B AS DateTime2), N'')
INSERT [dbo].[angel_sys_menu] ([id], [menuname], [parentid], [remark], [orderid], [menuicon], [menuurl], [isvisible], [isenabled], [createuser], [createtime], [updateuser], [updatetime], [menucode]) VALUES (139, N'菜单管理', 138, N'菜单管理', 1, N'defultico', N'/SysManager/MenuManager', N'Y', N'Y', N'admin', CAST(0x0700EFE8DE93743E0B AS DateTime2), N'admin', CAST(0x078057CB4A9435370B AS DateTime2), N'')
INSERT [dbo].[angel_sys_menu] ([id], [menuname], [parentid], [remark], [orderid], [menuicon], [menuurl], [isvisible], [isenabled], [createuser], [createtime], [updateuser], [updatetime], [menucode]) VALUES (140, N'用户管理', 138, N'用户管理', 2, N'defultico', N'/SysManager/UserManager', N'Y', N'Y', N'admin', CAST(0x07808581DF93743E0B AS DateTime2), N'admin', CAST(0x0700BE765E9435370B AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[angel_sys_menu] OFF
/****** Object:  Table [dbo].[angel_sys_loginlog]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_loginlog](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[userid] [int] NOT NULL,
	[username] [nvarchar](128) NOT NULL,
	[roleid] [int] NOT NULL,
	[rolename] [nvarchar](128) NOT NULL,
	[clientip] [nvarchar](128) NULL,
	[logintime] [datetime2](7) NOT NULL,
	[createuser] [nvarchar](128) NOT NULL,
	[createtime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F1367E606] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统编号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_loginlog', @level2type=N'COLUMN',@level2name=N'id'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_loginlog] ON
INSERT [dbo].[angel_sys_loginlog] ([id], [userid], [username], [roleid], [rolename], [clientip], [logintime], [createuser], [createtime]) VALUES (9295, 1, N'admin', 1, N'超级管理员', N'::1', CAST(0x0780B1D3EA91EC3F0B AS DateTime2), N'admin', CAST(0x0780B1D3EA91EC3F0B AS DateTime2))
INSERT [dbo].[angel_sys_loginlog] ([id], [userid], [username], [roleid], [rolename], [clientip], [logintime], [createuser], [createtime]) VALUES (9296, 1, N'admin', 1, N'超级管理员', N'::1', CAST(0x0780775AD893EC3F0B AS DateTime2), N'admin', CAST(0x0780775AD893EC3F0B AS DateTime2))
INSERT [dbo].[angel_sys_loginlog] ([id], [userid], [username], [roleid], [rolename], [clientip], [logintime], [createuser], [createtime]) VALUES (9297, 1, N'admin', 1, N'超级管理员', N'::1', CAST(0x078087129A96EC3F0B AS DateTime2), N'admin', CAST(0x078087129A96EC3F0B AS DateTime2))
SET IDENTITY_INSERT [dbo].[angel_sys_loginlog] OFF
/****** Object:  Table [dbo].[angel_sys_department]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_sys_department](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[dname] [nvarchar](128) NULL,
	[level] [nvarchar](100) NULL,
	[parent_id] [int] NULL,
	[seq] [int] NULL,
	[remark] [nvarchar](4000) NULL,
	[isenabled] [nvarchar](2) NOT NULL,
	[createuser] [nvarchar](128) NOT NULL,
	[createtime] [datetime2](7) NOT NULL,
	[updateuser] [nvarchar](128) NULL,
	[updatetime] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__angel_sy__3213E83F108B795B] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'序列号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'dname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'部门级别' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'level'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'父级别ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'parent_id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'排序号' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'seq'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'备注' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'是否可以用' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'isenabled'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'createuser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'创建时间' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'createtime'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改者' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'updateuser'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'修改日期' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_sys_department', @level2type=N'COLUMN',@level2name=N'updatetime'
GO
SET IDENTITY_INSERT [dbo].[angel_sys_department] ON
INSERT [dbo].[angel_sys_department] ([id], [dname], [level], [parent_id], [seq], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (1, N'销售部', N'0', 0, 1, N'销售部', N'Y', N'admin', CAST(0x0780824F4383EC3F0B AS DateTime2), N'admin', CAST(0x0700A982D9817A370B AS DateTime2))
INSERT [dbo].[angel_sys_department] ([id], [dname], [level], [parent_id], [seq], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (2, N'研发部', N'0', 0, 1, N'研发部', N'Y', N'admin', CAST(0x0780DCB14583EC3F0B AS DateTime2), N'admin', CAST(0x0700CCAE48877A370B AS DateTime2))
INSERT [dbo].[angel_sys_department] ([id], [dname], [level], [parent_id], [seq], [remark], [isenabled], [createuser], [createtime], [updateuser], [updatetime]) VALUES (3, N'后勤部', N'0', 0, 1, N'后勤部', N'Y', N'admin', CAST(0x0700A07B4783EC3F0B AS DateTime2), N'admin', CAST(0x0700BBCB55877A370B AS DateTime2))
SET IDENTITY_INSERT [dbo].[angel_sys_department] OFF
/****** Object:  Table [dbo].[angel_filedata_bak]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_filedata_bak](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](200) NULL,
	[SysName] [nvarchar](200) NULL,
	[Type] [nvarchar](1) NOT NULL,
	[CreateDate] [datetime2](7) NULL,
	[CreateUserId] [int] NULL,
	[CreateUserName] [nvarchar](50) NULL,
 CONSTRAINT [PK__angel_fi__3213E83F0DAF0CB0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'记录代码 ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_filedata_bak', @level2type=N'COLUMN',@level2name=N'id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'上传文件名称' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_filedata_bak', @level2type=N'COLUMN',@level2name=N'FileName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系统定义名' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'angel_filedata_bak', @level2type=N'COLUMN',@level2name=N'SysName'
GO
SET IDENTITY_INSERT [dbo].[angel_filedata_bak] ON
INSERT [dbo].[angel_filedata_bak] ([id], [FileName], [SysName], [Type], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (2502, N'test.txt', N'1_null_659_test.txt', N'1', CAST(0x07003182DE5E89400B AS DateTime2), 1, N'admin')
INSERT [dbo].[angel_filedata_bak] ([id], [FileName], [SysName], [Type], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (2503, N'test.rar', N'1_null_662_test.rar', N'1', CAST(0x07003182DE5E89400B AS DateTime2), 1, N'admin')
INSERT [dbo].[angel_filedata_bak] ([id], [FileName], [SysName], [Type], [CreateDate], [CreateUserId], [CreateUserName]) VALUES (2504, N'test.xlsx', N'1_null_659_test.xlsx', N'1', CAST(0x07003182DE5E89400B AS DateTime2), 1, N'admin')
SET IDENTITY_INSERT [dbo].[angel_filedata_bak] OFF
/****** Object:  Table [dbo].[angel_downloadlist]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_downloadlist](
	[userid] [int] NOT NULL,
	[username] [nvarchar](128) NULL,
	[filename] [nvarchar](128) NULL,
	[isenabled] [nchar](1) NULL,
	[createuser] [nvarchar](128) NULL,
	[createtime] [datetime2](7) NOT NULL,
	[downloadhref] [nvarchar](128) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[angel_city]    Script Date: 07/24/2020 16:10:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[angel_city](
	[PRONAME] [nvarchar](50) NULL,
	[CITYNAME] [nvarchar](50) NULL,
	[CITY_NO] [nvarchar](50) NULL,
	[CAPITALCITY] [int] NULL
) ON [PRIMARY]
GO
INSERT [dbo].[angel_city] ([PRONAME], [CITYNAME], [CITY_NO], [CAPITALCITY]) VALUES (N'北京', N'北京市', N'010', 1)
INSERT [dbo].[angel_city] ([PRONAME], [CITYNAME], [CITY_NO], [CAPITALCITY]) VALUES (N'上海', N'上海市', N'021', 1)
INSERT [dbo].[angel_city] ([PRONAME], [CITYNAME], [CITY_NO], [CAPITALCITY]) VALUES (N'天津', N'天津市', N'022', 1)
GO
print 'Processed 100 total records'
GO
print 'Processed 200 total records'
GO
print 'Processed 300 total records'
GO
print 'Processed 400 total records'
GO
print 'Processed 500 total records'
GO
print 'Processed 600 total records'
