<div class="row  border-bottom white-bg dashboard-header">
        <div class="col-sm-12">
            <blockquote class="text-warning" style="font-size:14px">
                            领取阿里云通用云产品优惠券
                <br><a target="_blank" href="https://www.aliyun.com/minisite/goods?userCode=ga24pnf9">https://www.aliyun.com/minisite/goods?userCode=ga24pnf9新用户专享特惠</a><br>
            </blockquote>

            <hr>
        </div>
        <div class="col-sm-6" style="margin-left:20px;">
            <h2>AngelRM_MVC台管理框架</h2>
            <p>Angel工作室通用权限管理系统可以用于所有的Web应用程序，如<b>网站管理后台</b>，<b>网站会员中心</b>，<b>CMS</b>，<b>CRM</b>，<b>OA</b>等等，当然，您也可以对它进行深度定制，以做出更强系统。所有前端后台代码封装过后十分精简易上手，出错概率低。同时支持移动客户端访问。后期系统会陆续更新一些实用功能。</p>
            <p>
                <b>当前版本：</b><span>v2.1</span>
            </p>
            <p>
                <span class="label label-warning">&yen;免费开源</span>
            </p>
            <br>
            <p>
                <a class="btn btn-success btn-outline" href="https://gitee.com/angelcms/AngelRM_MVC" target="_blank">
                    <i class="fa fa-cloud"> </i> 访问码云
                </a>
            </p>
        </div>
        <div class="col-sm-4">
            <h4>技术选型：</h4>
            <ol>
                <li>核心框架：ASP.NET MVC</li>
                <li>依赖注入框架：Ninject</li>
                <li>持久层框架：类似MyBatis</li>
                <li>数据库连接组件：MySql.Data</li>
                <li>Json处理组件：Newtonsoft.Json </li>
                <li>报表组件：NPOI　</li>
                <li>更多……</li>
            </ol>
        </div>

    </div>
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-sm-6" style="margin-left:20px;">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>更新日志</h5>
                    </div>
                    <div class="ibox-content no-padding">
                        <div class="panel-body">
                            <div class="panel-group" id="version">
                            <div class="panel panel-default">
								<div class="panel-heading">
								   <h5 class="panel-title">
									   <a data-toggle="collapse" data-parent="#version" href="#v2.1">v2.1</a><code class="pull-right">2021.05.01</code>
								   </h5>
								</div>
								<div id="v46" class="panel-collapse collapse in">
									<div class="panel-body">
									   <ol>
									        <li>新增菜单子操作权限管理</li>
									        <li>新增字典数据功能</li>
									        <li>新增系统多标签导航功能</li>
									        <li>新增用户单行编辑删除功能</li>
									        <li>新增Echarts统计表功能页面</li>
									        <li>修改上传文件报错问题</li>
										</ol>
									</div>
								</div>
							</div>
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" data-parent="#version" href="#v00">v1.0.0</a><code class="pull-right">2016.03.01</code>
                                        </h4>
                                    </div>
                                    <div id="v00" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <ol>
                                                <li>Angel工作室通用权限管理系统正式发布。</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-4" >

                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>联系信息</h5>

                    </div>
                    <div class="ibox-content">
                        <p><i class="fa fa-send-o"></i> 官网：<a href="http://www.angelasp.com" target="_blank">http://www.angelasp.com</a>
                        </p>
                        <p><i class="fa fa-qq"></i> QQ群：<a href="https://shang.qq.com/wpa/qunwpa?idkey=42721cf6c031878adf4995ba51b579e99f3548afb20456085665b1d6b6d5e5ad" target="_blank" style="text-decoration:line-through">97157124已满</a>、439569365
                        </p>
                    </div>
                </div>
            </div>



        </div>
    </div>

