<link rel="stylesheet" href="~/Scripts/dist/bootstrap-table-1.11.1/bootstrap-table.min.css" />
<link rel="stylesheet" href="~/ViewScripts/bootstrap-fileinput-master/css/fileinput.min.css" />
<link rel="stylesheet" href="~/ViewScripts/bootstrap-fileinput-master/themes/explorer/theme.css" />
<script src="~/Scripts/wizard.min.js"></script>
<script src="~/Scripts/dist/bootstrap-table-1.11.1/bootstrap-table.min.js"></script>
<script src="~/Scripts/dist/bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="~/ViewScripts/bootstrap-fileinput-master/js/fileinput.min.js"></script>
<script src="~/ViewScripts/bootstrap-fileinput-master/themes/explorer/theme.js"></script>
<script src="~/ViewScripts/bootstrap-fileinput-master/js/locales/zh.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/ViewScripts/datacollection/FileBak.js"></script> 
   
<div class="widget-box" style="border:0px;">
    <div class="widget-header widget-header-blue widget-header-flat" style="background-color:transparent;border:0px;padding-left:0px;line-height:70px;">
        <h4 class="widget-title" style="color:#333333; left:0px;">上传文件存档管理</h4><!--lighter-->
        <div class="widget-toolbar" style="padding:0px;line-height:70px;">
            <!--<form class="form-inline">-->
                <div class="form-inline form-group" style="line-height:70px;">
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn input-group-sm">
                            <select class="form-control" id="sel_type" style="height:30.5px;margin-top: 19px;">
                                <option value="1">文件类型</option>
                            </select>
                            <select class="form-control" id="select_field" style="height:30.5px;margin-top: 19px;" >
                                <option value="fileName">文件名</option>
                                <option value="createUserName">上传用户</option>
                            </select>
                            <input type="text" class="form-control btnSearch"  placeholder="检索 ..." style="height:30.5px;margin-top: 19px;" size="40" />
                            <button class="btn btn-group-sm btn-white btn-info" id="btnSearch" style="border:1px solid #a4cbff;">
                                <i class="ace-icon fa fa-search bigger-110 blue"></i>
                            </button>
                        </div>
                    </div>
                    <div class="input-group input-group-sm">
                        <div class="input-group-btn input-group-sm">
                            <button class="btn btn-group-sm btn-white btn-info" id="btnRemove" disabled>
                                <i class="ace-icon glyphicon glyphicon-trash bigger-110 blue"></i>
                                删除
                            </button>
                        </div>
                    </div>
                </div>
            <!--</form>-->
        </div>
    </div>
    <div class="widget-body" style="border: 1px solid #CCC;">
        <div class="widget-main" style="padding:0px;">
            <table id="tbl_filebak" style="margin:-1px 0px;"></table>
        </div><!-- /.widget-main -->
    </div><!-- /.widget-body -->
</div>
<script>
    var $t = $("#tbl_filebak");
    var $bs = $("#btnSearch");
    var $br = $("#btnRemove");
    FileBak.init($t, $bs, $br, "");
</script>