.lazyTabContentsBottom{
	float:left;
	width:auto;
	height:auto;
	display:none;
	margin:0;
	cursor: auto;
}
   
.lazyTabHeaderBottom{
	position:fixed;
	overflow:hidden;
	width:100%;
	background-color:#FFF;
    padding-top:3px;
	bottom: 0px;
	z-index: 9998;
}
  	
.lazyTabHeaderBottom ul{
	position:relative;
	width:5000px;
	margin:0;
	border-top: 1px solid #ddd;
	font: 15px sans-serif;
	padding:0 0 10px 0;
	z-index: 9998;
	background-color: white;
}

.lazyTabHeaderBottom li {
	display:block;
    float:left;
	margin:0 0 0 10px;
	position:relative;
	top: -1px;
}
      
.lazyTabHeaderBottom .lazyTabLink {
	width:auto;
	display:block;
	padding-left: 15px;
	padding-right: 5px;
	text-decoration:none;
	color:#3175af;
	outline: none;
}
      
.lazyTabHeaderBottom .lazyTabLink span{
	padding:15px 16px 5px 0;
	display:block;
}

.lazyTabHeaderBottom .active .lazyTabLink {
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	background-color: #fff;
	border: 1px solid #ddd;
	border-top-color: transparent;
	color:#555;
	font-weight:bold;
}

.lazyTabHeaderBottom li:hover {
	box-sizing: border-box;
	color: rgb(51, 122, 183);
	display: block;
	position: relative;
	text-align: left;
	text-decoration: none;
	background-color: #ddd;
	border-Bottom-left-radius:5px;
	border-Bottom-right-radius:5px;
}

/* close button style*/

.lazyTabHeaderBottom a.lazyTabClose {
	display:block;
	position:absolute;
	right:5px;
	top:5px;
	width:16px;
	height:16px;
	float:left;
	background:url("../img/closebg.png") no-repeat  left top;
}

.lazyTabHeaderBottom li:hover .lazyTabClose:hover{
	background :url("../img/closebg.png") no-repeat  -15px 0px ; 
}

.lazyTabHeaderBottom .lazyTabScroll {
	padding-left:17px;
	padding-right:17px;	
}

.lazyTabHeaderBottom .scrollLeft {
	background: #FFFFFF url(../img/arrow.png) no-repeat scroll -104px center;
	width:17px;
	height:100%;
	left:0;
	bottom:0;
    cursor:pointer;
    position:absolute;
	z-index:9999;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}


.lazyTabHeaderBottom .scrollRight{
	background: #FFFFFF url(../img/arrow.png) no-repeat -40px center;
	width:17px;
	height:100%;
	cursor:pointer;
	position:absolute;
	right:0;
	bottom:0;
	z-index:9999;
	opacity: 0.9;
	filter: alpha(opacity = 90);
}

.lazyTabHeaderBottom .disabled{
	opacity:0.5;
	filter:alpha(opacity=50);
}

.loadingTab{
	height:30px;
	position:absolute;
	left: 50%;
	top:50%;
	background:url("../img/loading.gif") no-repeat 0 center;
	padding-left:45px;
}
