<div class="widget-header widget-header-blue widget-header-flat">

        <h4 class="widget-title">登录日志管理</h4>

        <div class="widget-toolbar" style="padding:0px;line-height:70px;">
    
            <div class="form-inline form-group " style="line-height:70px;">
                <div class="input-group input-group-sm">
                    <div class="input-group-btn input-group-sm">
                        <button title="导出全部日志" style="width: auto; border-color: #bbbbbb" class="btn btn-xs btn-white btn-info" id="btnExceportlog" data-toggle="modal">
                            <i class="ace-icon  fa fa-file-excel-o bigger-110 blue "></i>
                           导出全部日志
                        </button>
                    </div>
                </div>
            </div>

        </div>
   </div>
        <div class="widget-body">
            <div class="widget-main" style="padding: 0px;">
                <table id="table" style="margin: 0px;"></table>
            </div>
            <!-- /.widget-main -->
        </div>
        <!-- /.widget-body -->
    

<script src="~/Scripts/js/com.js"></script>
<script src="~/Scripts/dist/waves/waves-0.7.5/waves.s.js"></script>
<script src="/Scripts/dist/bootstrap-table-1.11.1/bootstrap-table.min.js"></script>
<script src="/Scripts/dist/bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/Scripts/dist/jquery-confirm/dist/jquery-confirm.min.js"></script>
<script src="/Scripts/js/common.js"></script>
<script src="~/ViewScripts/sysmanager/loginlog.js"></script>
