
<div class="widget-header widget-header-blue widget-header-flat">

    <h4 class="widget-title">操作日志管理</h4>
</div>
<div class="widget-body">
    <div class="widget-main" style="padding: 0px;">
        <table id="table" style="margin: 0px;"></table>
    </div>
    <!-- /.widget-main -->
</div>
<!-- /.widget-body -->

<script src="~/Scripts/js/com.js"></script>
<script src="~/Scripts/dist/waves/waves-0.7.5/waves.s.js"></script>
<script src="/Scripts/dist/bootstrap-table-1.11.1/bootstrap-table.min.js"></script>
<script src="/Scripts/dist/bootstrap-table-1.11.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="/Scripts/dist/jquery-confirm/dist/jquery-confirm.min.js"></script>
<script src="/Scripts/js/common.js"></script>
<script src="~/ViewScripts/sysmanager/operlog.js"></script>
