/****
author:alcedo 
time:2021-03-26
****/
.modal-dialog, .modal-tree {
    width: 500px;
    margin: 30px auto;
}

.fixed-table-pagination {
    margin: 0px;
}

.form-group {
    margin-bottom: 0px;
}

.widget-toolbar:before {
    border: 0px;
    border-width: 0px;
}

.widget-body {
    border: 1px solid #B9D7D7;
}

    .widget-body .table {
        border-top: 0px;
    }

.fixed-table-pagination {
    background: #f9f9f9;
}

.orange {
    color: #6cb7e2!important;
}

.orange:hover {
        color: #6cb7e2!important;
}


#btnSearch {
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 30px;
    background: #a4cbff;
    border-color: #a4cbff;
    position: relative;
    border: 5px solid #a4cbff;
    margin-right: 10px;
}

#btnSearch:hover {
        border-color: #52acdf;
        background: #52acdf;
        border: 5px solid #52acdf;
}

.onclickbtni {
    font-size: 18px;
    background: #5bb9ee;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 999;
    margin-top: -6px;
    margin-left: -5px;
    padding-top: 7px;
    text-shadow: none;
    -webkit-text-stroke: 0.7px #5bb9ee;
}

.onclickbtni:hover {
        border-color: #36aaeb;
        background: #36aaeb;
        -webkit-text-stroke: 0.7px #36aaeb;
}

.nav-search {
    position: absolute;
    top: 15px;
    right: 50px;
    line-height: 24px;
}

/**
page header
**/

.widget-header {
    background-color: transparent;
    border: 0px;
    padding-left: 0px;
    margin-left:10px;
    margin-right:10px;
}

.widget-body {

    height:auto;
    margin-left:10px;
    margin-right:10px;
}

    .whiteBox
    {
        background: #fff;
        box-shadow: 0 2px 16px rgba(0, 0, 0, 0.18);
        margin-top: 20px;
        width:49%;
        float:left;
        margin-right:10px;
    }

    .clearfix:after {
        content: ".";
        display: block;
        height: 0;
        visibility: hidden;
        clear: both;
    }

    .clearfix {
        *zoom: 1;
    }